body {
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
}

nav {
    text-align: center;
}

.hide {
    display: none;
}

.scoreTimer {
    display: flex;
}

#hofLink {
    text-align: start;
}

#back {
    text-align: left;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 2;
}

#overlay h3 {
    color: white;
    margin: 0 auto;
}

#time {
    margin-left: auto;
}

#time i {
    font-size: 48px;
}

#nameContainer {
    margin-top: 0px;
}