body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

header {
    text-align: left;
}

nav {
    text-align: center;
}


.hide {
    display: none;
}

.row {
    margin-bottom: 0;
}



#hofLink {
    text-align: start;
}

#back {
    text-align: left;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 2;
}

#overlay h3 {
    color: white;
    margin: 0 auto;
}

#time {
    margin-left: auto;
}

#time i {
    font-size: 36px;
}

#nameContainer {
    margin-top: 0px;
}

.card img {
    height: 150px;
}

@media screen and (max-width: 992px) {
    .scoreTimer {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .card img {
        height: 100px;
    }

    .cardRow .s2 .card img {
        height: 50px;
    }

    .cardRow .col {
        padding: 3px;
        margin: 0;
    }

    .cardRow .col .card{
        margin: 0;
    }


}